{% extends 'RIS/RIS_Home.html' %}
{% block body %}
<div>
	
		
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Program Title</th>
					<th scope="col">Project Title</th>
					<th scope="col">Study Title</th>
					<th scope="col">Program Leader</th>
					<th scope="col">Study Leader</th>
				</tr>
			</thead>
			<tbody>
			{% for res in researches %}
				<tr>
					<td>{{ res.id }}</td>
					<td>{{ res.prog_title }}</td>
					<td>{{ res.proj_title }}</td>
					<td>{{ res.stud_title }}</td>
					<td>{{ res.prog_lead }}</td>
					<td>{{ res.stud_lead }}</td>
					<td>
						<form action="{% url 'RIS:Edit_Res' %}" method="get">
						{% csrf_token %}						
						<input type="hidden" name="res" value="{{ res.id }}">
						<button type="submit">EDIT</button>
						</form>
					</td>
					<td>
						<form action="{% url 'RIS:Delete_Res' %}" method="post">
						{% csrf_token %}						
						<input type="hidden" name="res" value="{{ res.id }}">
						<input type="submit" name="DEL_btn" value="DELETE" />
						</form>
					</td>	
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
	
</div>
{% endblock %}
